body{
    background-color: slategray;
}
h1{
   font-size: xx-large;
   display: flex;
   justify-content: center;
}
h2{
    font-size: 20px;
   display: flex;
   justify-content: center;
}
div{
    display: flex;
  
}
img{
    border: solid 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;

}